.cart{
    width:100%;
    margin-top: 2rem;
    // border:1px solid grey;
    gap:5rem;
    .total{
        margin-block:1rem;
        text-align: center;
        border-top: 1px solid grey;
        padding-block: 1rem;
        width:70%;
        margin-inline: auto;

    }

    .empty-cart{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        flex-direction: column;
        .empty-icon{
            font-size:4rem;
        }
        h2{

        }
    }
}