.product-component{
    width: 30%;
    // border: 1px solid red;
    box-shadow: 7px 5px 5px grey;
    min-width:10rem;
    .product{
        width: 100%;
        .product-title{
            padding:0.3rem;
            // float: left;
            display: flex;
            justify-content: flex-start;

        }
        .product-image-container{
            width:100%;
            height:12rem;
            
            img{
                width:100%;
                height: 100%;
                object-fit: contain;
                // border: 1px solid red;
            }
        }
        .product-price-cart{
            padding: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .add-to-cart,.quantity-selector{
                background-color: rgba(0, 0, 0, 0.535);
                color: aliceblue;
                padding:0.4rem;
                width:fit-content;
                button{
                    padding:0.1rem 0.4rem;
                }
                .quantity{
                    display: inline-block;
                    font-size: 1rem;
                    padding:0.5rem;
                    font-weight: 600;
                
                }
            }
            .increament,.decreament{
                padding:0.2rem;
            }
        }

    }
    
}





@media screen and (max-width:768px) {
    .product-component{
        width: 45%;
        margin-inline: auto;
       
    }

}


@media screen and (max-width:500px) {
    .product-component{
        width: 100%;
       
    }

}

@media screen and (min-width:768px){
    .product-component{
        width: 45%;
        margin-inline: auto;
    }

}