.collection-component{
    width:90vw;
    margin-inline: auto;
    margin-top: 2rem;

    .category-product-component{
        margin-top: 4rem;
        display: flex;
        gap:3rem;
        width:100%;
        .search-container{
            
        }
        .category-component{
            width:20vw;
            border: 1px solid violet;

        }
        .product-component{
            display: flex;
            width:60vw;
            flex-wrap: wrap;
            gap: 2rem;
            padding-inline: 0.6rem;
            border: 1px solid green;
        }
        
    }
}

@media screen and (max-width:768px) {
    .home-component{
        width:100vw;
        .category-product-component{
            width: 90%;
            margin-inline:auto;
            .category-component{
                display: none;
            }
            .product-component{
                width:100%;
            }
        }

    }
    

}


