.filter{
    border:2px solid red;
    .filter-component{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:0.3rem;
        border:2px solid green;
        
        .icon,.filter-option{
            background-color: rgba(0, 0, 0, 0.732);
            padding: 0.3rem 0.6rem;
            font-size: 1.2rem;
            border-radius: 4px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }
}
// @media screen and (max-width:790px) {
//     .filter-option{
//         display: none;
//     }
// }

// @media screen and (min-width:798px) {
//     .filter-option{
//         display: block;
//         background-color: rgba(0, 0, 0, 0.732);
//         padding: 0.2rem 0.5rem;
//         font-size: 1.2rem;
//         border-radius: 4px;
//         color: white;
//         margin-inline: 0.6rem;
//     }
        
// }



