.product-details{
    margin-top: 2rem;
    width:70vw;
    margin-inline: auto;
    // border: 1px solid red;
    
    .container{
        display: flex;
        gap:2rem;
        align-items: center;
        // border: 1px solid yellow;
        justify-content: space-around;
        .product-image{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width:30rem;
            min-width:18rem;
            height:20rem;
            
                img{
                    height:100%;
                    object-fit: cover;
                }
            
        }
        .product-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-weight: 800;
            font-size: 1.3rem;
            gap:1rem;
            // border: 1px solid green;

            
        }
        .quantity-selector{
            color: #f0f8ff;
            width:fit-content;
            padding-inline: 1rem;
            border-radius: 0.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 1px solid rgba(128, 128, 128, 0.633);
            button{
                padding:0.3rem 0.6rem;
                font-size: 1rem;
            }
            .quantity{
                display: inline-block;
                font-size: 1rem;
                padding:0.5rem;
                font-weight: 600;
                color: black;
                
            
            }
        }
    }
}


@media screen and (max-width:915px){
    .product-details{
        .container{
            flex-direction: column;
            justify-content: space-between;

        }
        
    }

}